  html { color: #585858; background-color: #fff; }
  body { font-size: 13px; font-family: 'Helvetica',Helvetica,Arial,sans-serif; }
  h1,h2,h3,h4,h5,h6,strong{ font-weight:bold; }
  h1 { color: #585858; font-size: 28px; font-weight: lighter; }
  h2 { color: #585858; font-size: 21px; font-weight: lighter;  }
  p { margin: 0; padding: 5px 0; color: #585858; font-size: 13px; font-weight: lighter; }
  ol, ul, dl { margin-bottom: 1em; line-height: 1.2em; }
  ol, ul { margin-left: 1.5em; }
  ol li { list-style: decimal; }
  blockquote { font-weight: bold; font-style: italic; }
  blockquote p { padding: 10px 0 0 0; }
  a { color:#206dd6;text-decoration:none; }
  sup { vertical-align: super; height: 0; font-size: 10px; }
  h1 sup, h2 sup, h3 sup { vertical-align: super; height: 0; font-size: 12px; }

  abbr,acronym {border-bottom:1px dotted #000;cursor:help;}
  em{font-style:italic;}
  strong{font-weight:bold;}
  del{text-decoration:line-through; }

  .clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }
  .clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

  /* D3 SVG common styles */
  svg text { pointer-events: none; }
  .axis path, .axis line { fill: none; shape-rendering: crispEdges; }
  .bar { fill: steelblue; }
  .y text { fill: #7d7d7d; font-family: 'Arial Narrow', Arial, sans-serif; font-stretch: condensed; font-size: 11px; }
  .legend { font-weight: bold; font-size: 13px; }
  .d3charts { position: relative; clear: both; }
  .d3charts h4 { margin: 5px 0 15px 84px; font-size: 16px; color: #7d7d7d; font-weight: bold; text-transform: uppercase; }

  /* D3 tooltip */
  .d3-tip { width: 100px; line-height: 1; font-weight: bold; padding: 10px; background: transparent; color: #f5fafa; border-radius: 2px; text-align: left; pointer-events: none; }
  .d3-tip strong { text-transform: uppercase; font-size: 10px; font-weight: lighter; letter-spacing: normal; pointer-events: none; }
  .d3-tip span { display: inline-block; padding: 0; font-size: 18px; pointer-events: none; }

  #annualYieldsChart { margin:0; padding: 10px 0 0; }
  #annualYieldsChart .title { text-transform: uppercase; font-weight: bold; }
  #annualYieldsChart .line { stroke-width: 3px; }
  #annualYieldsChart .grid-background { fill: #f9f9f9; }
  #annualYieldsChart .grid .tick { stroke: #fff; stroke-opacity: 0.7; shape-rendering: crispEdges; }
  #annualYieldsChart .grid path { stroke-width: 1; opacity: 0.7; stroke: #fff; }
  .annual-yields-year-axis { 
    position: relative; width: 100%; margin: 70px 0 0 0; clear: both; height: 32px;
    -webkit-box-shadow: 0px 10px 4px 0px rgba(209,209,209,1); -moz-box-shadow: 0px 10px 4px 0px rgba(209,209,209,1); box-shadow: 0px 10px 4px 0px rgba(209,209,209,1);
  }
  .annual-yields-year-axis ul { margin: 0 0 0 80px; list-style-type: none; }
  .annual-yields-year-axis li { float: left; width: 22px; margin: 0; padding: 0 0 3px 1px; border-bottom: 14px solid #ebf3f5; color: #b6b6b6; font-size: 22px; text-align: center; }
  .annual-yields-year-axis span { display: inline-block; text-indent: -99999em; }
  .annual-yields-year-axis span.marked { text-indent: 0; }
  #annualYieldsChart .axis path,
  #annualYieldsChart .axis line { fill: none; stroke: none; stroke-width: 1; shape-rendering: crispEdges; }
  #annualYieldsChart .yAxis line  { opacity: 0; }
  #annualYieldsChart .overlay { fill: none; pointer-events: all; }
  #annualYieldsChart .focus circle { fill: none; }
  #annualYieldsChart .axis path, #annualYieldsChart .axis line { fill: none; stroke: #f8f8f8; shape-rendering: crispEdges; }
  #annualYieldsChart .x.axis line { fill: none; stroke: #e4e4e4; shape-rendering: crispEdges; opacity: 0; }
  #annualYieldsChart path.domain { opacity: 0; }
  .annual-yield-chart-divider { margin: 25px auto 20px; }
  #annualYieldsChart .x text { fill: #7d7d7d; font-family: 'Arial Narrow', Arial, sans-serif; font-stretch: condensed; font-size: 11px; }
  #annualYieldsChart .annual-yield-grid-background { fill: #f1f1f1; }
  #annualYieldsChart .year-legend { text-transform: none; font-weight: normal; }
  #annualYieldsChart .legend-grade text { font-weight: bold; text-transform: normal; }
  #annualYieldsChart .legend-controls-annual-yields text { font-weight: bold; text-transform: normal; }

  .source { margin: 0 10px 10px 80px; }