#container {
    height: 100%;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    #container {
        min-height: 400px;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
}

#container2 {
    height: 65%;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    #container2 {
        min-height: 200px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}
