/*#main{
  position:absolute;
  width:90%;
  height:95%;
  padding: 20px 5px 5px 5px;
/*  border:1px solid black; 
  border:0px solid black;
  border-radius: 20px;
  float:center;
  
} */
#main > div{
 
  float:left;
  margin:10px;
  padding: 5px 5px 5px 5px;
} 
#indicator_dd{
	border-radius: 10px;
    /* border: 2px solid #73AD21; 
	border: 2px solid #73AD21;*/
	padding: 5px 5px 5px 5px;
    width: 200px;
   /* height: 85%; */    
  }
  
#d0_main{
	border-radius: 10px;
    /* border: 2px solid #73AD21; */
	border: 2px solid #73AD21;
	padding: 5px 5px 5px 5px;
    width: 200px;
    height: 80%;    
  }
 
#d1{
	border-radius: 10px;
  /*  border: 2px solid #73AD21; */
	border: 2px solid #73AD21;
	padding: 5px 5px 5px 5px;
	width: 430px;
    height: 80%;    
  }

#d2{
  border-radius: 5px;	
  padding: 2px 5px 5px 0px;
  width:390px;
  height:80%;
  /*border:1px solid blue;*/
 }